<article class="postcard">
    <div class="post-band" ng-class="'topic-color-' + (post.tags[0].$t.id % 10)" todo-style="background-color: #A51A1A;"></div>
    <div class="listing-item-select" ng-if="canSelect">
        <input type="checkbox" checklist-value="post.id" checklist-model="selectedPosts">
    </div>

    <div class="postcard-body">

      <header class="postcard-header">
        <h1 class="postcard-title"><a href="/pheme/themes/{{post.id}}">{{ post.title || post.content | limitTo:150 }}{{ !post.title && post.content.length > 150 ? ' ...' : ''}} </a></h1>
      </header>

      <div class="listing-summary clearfix">

          <div class="listing-summary-wrapper">
              <div class="listing-summary-block">
                   <h2 class="form-label">Overview</h2>
                    <p><b translate>pheme.pheme.topic_label</b>: <span class="topic-label" ng-class="'topic-color-' + (post.tags[0].$t.id % 10)">{{ post.tags[0].$t.tag }}</span></p>
                    <p><b translate>pheme.pheme.number_images</b>: {{ post.values['theme-img-count'][0] }}</p>
                    <p><b translate>pheme.pheme.number_publications</b>: {{ post.values['theme-pub-count'][0] }}</p>
                    <p><b translate>pheme.pheme.verified_authors</b>: {{ post.values['theme-verified-count'][0] > 0 ? "Yes" : "No" }} </p>
                    <p><b translate>pheme.pheme.controversiality</b>:
                        <span class="green" ng-if="post.values['theme-controversiality'][0] < 0.33">
                            <b>{{ post.values['theme-controversiality'][0] * 100 | number:0 }}%</b>
                        </span>
                        <span class="yellow" ng-if="post.values['theme-controversiality'][0] >= 0.33 && post.values['theme-controversiality'][0] < 0.67">
                            <b>{{ post.values['theme-controversiality'][0] * 100 | number:0 }}%</b>
                        </span>
                        <span class="red" ng-if="post.values['theme-controversiality'][0] >= 0.67">
                            <b>{{ post.values['theme-controversiality'][0] * 100 | number:0 }}%</b>
                        </span>
                    </p>
              </div>

              <div class="listing-summary-block">
                  <h2 class="form-label">Activity</h2>
                  <p><b translate>pheme.pheme.size</b>: {{ post.values['theme-size'][0] }} tweets</i></p>
                  <p><b translate>pheme.pheme.average_activity</b>: {{ post.values['theme-average-activity'][0] | number:2 }} tweets/second</i></p>
                  <p><b translate>pheme.pheme.start_date</b>: <em>{{ post.values['theme-start-date'][0] | date:'h:mm a - d MMM y' }}</em></p>
                  <p><b translate>pheme.pheme.end_date</b>: <em>{{ post.values['theme-last-activity'][0] | date:'h:mm a - d MMM y' }}</em></p>
              </div>
          </div>

          <div class="listing-summary-wrapper">
              <div class="listing-summary-block" ng-if="post.values['theme-most-shared-img'][0] != ''">
                  <h2 class="form-label">Most Shared Image</h2>
                  <a ng-href="{{ post.values['theme-most-shared-img'][0] }}" target="_blank">
                      <img class="most-shared-image" ng-src="{{ post.values['theme-most-shared-img'][0] }}" width="128" height="128'" style="object-fit: cover;" alt="">
                  </a>
              </div>
          </div>


      </div>

       <div class="listing tweet">

           <div class="listing-item">

               <h2 class="form-label featured-header" translate>pheme.pheme.featured_tweet</h2>

               <div class="listing-item-primary tweet">

                   <div class="listing-item-image">
                       <img class="avatar" ng-src="{{ post.featured_tweet.user.profile_image_url }}" sr-fallback="//pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_bigger.png" alt="">
                   </div>

                   <h2 class="listing-item-title">
                       <a ng-href="https://twitter.com/{{ post.featured_tweet.user.user_screen_name }}">
                           <span class="tweet-name">{{ post.featured_tweet.user.name }}</span>
                           <span class="tweet-username">@{{ post.featured_tweet.user.user_screen_name }}</span>
                       </a>
                       <span style="font-size: -25%" ng-if="thread.featured_tweet.user.is_verified">&nbsp;(verified user)<span>
                   </h2>

                   <p class="tweet-result" ng-bind="post.featured_tweet.text" linkify="twitter"><p>

                   <p class="tweet-date">{{ post.featured_tweet.date | date:'h:mm a - d MMM y'}}
                       <a class="tweet-open" ng-click="openTwitterModal()">open in twitter</a>
                   </p>

               </div>

               <uib-pagination ng-model="liveResults.pag.current" items-per-page="liveResults.pag.size" total-items="liveResults.results.length" max-size="5" boundary-links="false" rotate="false"></uib-pagination>

           </div>

      </div>

      <modal visible="twitterModalOpen">
        <div  class="modal-body">This is your modal thing</div>
      </modal>

    </div> <!-- /postcard-body -->

    <!--<post-actions post="post"></post-actions>-->
</article>
