<div>
    <layout-class layout="c"></layout-class>
    <main role="main">

        <div class="main-col">
          <div class="full-content-block">
            <h1>How to use this dashboard?</h1>

            <!-- <div class="block-grid-3">
               <div class="media-object">
                  <img src="...png">
                  <p>...</p>
               </div>

               <div class="media-object">
                  <img src="...">
                  <p>...</p>
               </div>

               <div class="media-object">
                 <img src="...">
                 <p>...</p>
               </div>
            </div> -->

            <div class="section-content">
              <p>Paragraph number one</p>
              <p>Paragraph number two</p>
            </div>
          </div>
        </div>
    </main>
</div>