<div class="mode-context init" dropdown>
  <div class="button-group" style="margin: 15px; text-align: center;">
      <button ng-click="window.close()" type="button">
          <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#arrow-thick-left"></use>
          </svg>
          <span class="button-label" translate>Go back</span>
      </button>
  </div>
</div>

<main role="main">
  <div class="main-col pheme-single">
    <article class="postcard" role="article">
      <div class="postcard-body">
        <h1 ng-bind="post.title" linkify="twitter" class="postcard-title">
        </h1>

        <nav class="tabs-menu" data-tabs="tasks-tabs" data-tabs-hash>
          <ul>
            <li ng-class="{'active': visibleTab == 'threads'}">
              <a ng-click="setVisibleTab('threads')" translate>pheme.pheme.threads</a>
            </li>
            <li ng-class="{'active': visibleTab == 'pubs'}">
              <a ng-click="setVisibleTab('pubs')" translate>pheme.pheme.publications</a>
            </li>
            <li ng-class="{'active': visibleTab == 'images'}">
              <a ng-click="setVisibleTab('images')">Images</a>
            </li>
            <li ng-class="{'active': visibleTab == 'places'}">
              <a ng-click="setVisibleTab('places')">Places</a>
            </li>
          </ul>
        </nav>
        <div class="tasks-tabs">
          <!-- tags (categories) -->
          <div
            ng-if="!!post.tags.length"
            class="listing-summary"
            >
            <div class="listing-summary-block">
              <h2 class="form-label" translate>pheme.topic.topic</h2>
              <p ng-repeat="category in post.tags">
                <span class="topic-label" ng-class="'topic-color-' + (category.id % 10)">{{ category.tag }}</span>
              </p>
            </div>
          </div>
          <!-- values -->

          <div class="listing-summary clearfix">

                <div class="listing-summary-wrapper">
                    <div class="listing-summary-block">
                        <h2 class="form-label">Overview</h2>
                        <p><b translate>pheme.pheme.number_images</b>: {{ post.values['theme-img-count'][0] }}</p>
                        <p><b translate>pheme.pheme.number_publications</b>: {{ post.values['theme-pub-count'][0] }}</p>
                        <p><b translate>pheme.pheme.verified_authors</b>: {{ post.values['theme-verified-count'][0] > 0 ? "Yes" : "No" }}</p>
                        <p><b translate>pheme.pheme.controversiality</b>:
                            <span class="grey" ng-if="post.values['theme-controversiality'][0] < 0">
                                N/A
                            </span>
                            <span class="green" ng-if="post.values['theme-controversiality'][0] >= 0 && post.values['theme-controversiality'][0] < 0.33">
                                <b>Low</b>
                            </span>
                            <span class="yellow" ng-if="post.values['theme-controversiality'][0] >= 0.33 && post.values['theme-controversiality'][0] < 0.66">
                                <b>Medium</b>
                            </span>
                            <span class="red" ng-if="post.values['theme-controversiality'][0] >= 0.66">
                                <b>High</b>
                            </span>
                        </p>
                    </div>

                    <div class="listing-summary-block">
                      <h2 class="form-label">Activity</h2>
                      <p><b translate>pheme.pheme.size</b>: {{ post.values['theme-size'][0] }} tweets</i></p>
                      <p><b translate>pheme.pheme.average_activity</b>: {{ post.values['theme-average-activity'][0] | number:2 }} tweets/second</i></p>
                      <p><b translate>pheme.pheme.start_date</b>: {{ post.values['theme-start-date'][0] | date:'h:mm a - d MMM y' }}</p>
                      <p><b translate>pheme.pheme.end_date</b>: {{ post.values['theme-last-activity'][0] | date:'h:mm a - d MMM y' }}</p>
                    </div>
                </div>
          </div>

          <div class="listings" ng-show="visibleTab == 'threads'">
                <div class="postcard-field">
                    <h2 class="form-label" translate>pheme.pheme.threads</h2>
                </div>

                <div class="listing tweet">
                    <div class="listing-item">

                      <div class="listing-item-primary tweet card" ng-repeat="thread in theme.threads | startFrom:current_thread_page*5 | limitTo:5">

                        <div class="listing-item-image">
                            <img class="avatar" sr-fallback="//pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_bigger.png" ng-src="{{ thread.featured_tweet.user.profile_image_url }}" alt="">
                        </div>

                        <h2 class="listing-item-title">
                            <a ng-href="https://twitter.com/{{ post.featured_tweet.user.user_screen_name }}">
                                <span class="tweet-name" ng-bind="thread.featured_tweet.user.user_description"></span>
                                <span class="tweet-username">@{{ thread.featured_tweet.user.user_screen_name }}</span>
                            </a>

                            <span class="tweet-verified" ng-if="thread.featured_tweet.user.is_verified" ><img src="https://ton.twitter.com/hc_assets/1307051244_737.png" width="18" height="18"><span>
                        </h2>

                        <p class="listing-item-secondary tweet-veracity">
                            <b translate>pheme.pheme.veracity</b>:

                            <span ng-if="thread.featured_tweet.veracity_score >= 0.95">
                                <svg ng-if="thread.featured_tweet.veracity" class="iconic confidence">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#circle-check"></use>
                                </svg>
                                <svg ng-if="!thread.featured_tweet.veracity" class="iconic uncertain">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                </svg>

                                {{ thread.featured_tweet.veracity }}
                                ({{ thread.featured_tweet.veracity_score * 100 | number:0 }}% <span translate>pheme.pheme.confidence</span>)
                            </span>

                            <span ng-if="thread.featured_tweet.veracity_score < 0.95">
                                <span translate>pheme.pheme.uncertain</span>
                            </span>

                        </p>

                        <p ng-bind="thread.featured_tweet.text" linkify="twitter"><p>

                        <p class="tweet-date">{{ thread.featured_tweet.date | date:'h:mm a - d MMM y' }}
                            <a class="tweet-open" ng-click="openTwitterModal(thread.featured_tweet.tweet_id)" target="_blank">open in twitter</a>
                        </p>

                      </div>

                      <uib-pagination ng-model="current_thread_page" items-per-page="10" total-items="theme.threads.length" max-size="5" boundary-links="false" rotate="false"></uib-pagination>

                    </div>
                </div>
          </div>


          <div class="listings" ng-show="visibleTab == 'pubs'">
            <div class="postcard-field">
              <h2 class="form-label" translate>pheme.pheme.publications</h2>
            </div>
            <div class="postcard-list">
              <div class="postcard-field" ng-repeat="article in theme.articles">
                <p><span style="font-weight: bold">Via <a ng-href="{{ article.canonicalUrl.scheme}}://{{ article.canonicalUrl.netloc }}" target="_blank">{{ article.canonicalUrl.netloc }}</a></span> (<a ng-href="{{ article.canonicalUrl.url }}" target="_blank">{{ article.canonicalUrl.url }}</a>)<p>
              </div>
            </div>
          </div>

          <div class="listings" ng-show="visibleTab == 'images'">
            <div class="postcard-field">
              <h2 class="form-label" translate>pheme.pheme.images</h2>
            </div>
            <div class="gallery">
              <div class="gallery-thumb" ng-repeat="img in theme.images">
                <figure>
                  <a ng-href="{{ img.imgUrl }}" target="_blank"><img class="avatar" ng-src="{{ img.imgUrl }}" width="128" height="128'" style="object-fit: cover;" alt=""></a>
                  <span class="image-count">{{ img.count }}</span>
                </figure>
              </div>
            </div>
          </div>

          <div class="listings" ng-show="visibleTab == 'places'">
            <div class="postcard-field">
              <h2 class="form-label" translate>pheme.pheme.places</h2>
            </div>
            <div
              ng-if="mapDataLoaded"
              class="postcard-field"
              >
              <!--<h2 ng-if="mapDataLoaded" class="form-label" translate>post.location</h2>-->
              <div ng-if="mapDataLoaded">
                <leaflet id="post-map" class="map" defaults="defaults" geojson="geojson" center="center" layers="layers"></leaflet>
              </div>
            </div>
          </div>
        </div>
      </div>

    </article>

    <post-messages post="post" ng-if="post.contact.id"></post-messages>
  </div>
</main>
