<div class="mode-context init" dropdown>
<!--
  <header class="mode-context-header">
    <ol class="breadcrumbs" ng-controller="navigation as nav">
      <li><a href="/" ng-bind="nav.site.name"></a></li>
    </ol>

    <h1 class="mode-context-title">{{form_name || 'post.unstructured.survey_title' | translate}}</h1>
  </header>

  <span class="mode-context-trigger" dropdown-toggle>
    <svg class="iconic">
      <use xlink:href="../img/iconic-sprite.svg#chevron-bottom"></use>
    </svg>
    <span class="label hidden" translate>app.show_more_less</span>
  </span>

  <div class="mode-context-body" ng-if="post.form">
    <p>{{ form_description }}</p>

    <a class="button button-flat" ng-href="/posts/create/{{post.form.id}}">
      <svg class="iconic">
        <use xlink:href="../img/iconic-sprite.svg#plus"></use>
      </svg>
      <span class="button-label" translate>post.modify.add_to_survey</span>
    </a>
  </div>
-->
</div>

<main role="main">
  <div class="main-col">
    <article class="postcard" role="article">
      <div class="postcard-body">
        <h1 class="postcard-title">
          {{post.title}}
        </h1>

        <nav class="tabs-menu" data-tabs="tasks-tabs" data-tabs-hash>
          <ul>
            <li ng-class="{'active': visibleTab == 'threads'}">
              <a ng-click="setVisibleTab('threads')">Threads</a>
            </li>
            <li ng-class="{'active': visibleTab == 'pubs'}">
              <a ng-click="setVisibleTab('pubs')">Publications</a>
            </li>
            <li ng-class="{'active': visibleTab == 'images'}">
              <a ng-click="setVisibleTab('images')">Images</a>
            </li>
            <li ng-class="{'active': visibleTab == 'places'}">
              <a ng-click="setVisibleTab('places')">Places</a>
            </li>
          </ul>
        </nav>
        <div class="tasks-tabs">
          <!-- tags (categories) -->
          <div
            ng-if="!!post.tags.length"
            class="postcard-field"
            >
            <h2 class="form-label" translate>Event</h2>
            <p ng-repeat="category in post.tags">
              {{category.tag}}
            </p>
          </div>
          <!-- values -->
          <h2 class="form-label">Overview</h2>

            <p><i>Started:</i> {{ post.values['theme-start-date'][0] }}</p>
            <p><i>Last activity:</i> {{ post.values['theme-last-activity'][0] }}</p>
            <p><i>Size:</i> {{ post.values['theme-size'][0] }} <i>tweets</i><p>
            <p><i>Speed:</i> {{ post.values['theme-average-activity'][0] }} <i>tweets/hour</i><p>
            <p><i>Number of images:</i> {{ post.values['theme-image-count'][0] }}<p>
            <p><i>Number of articles:</i> {{ post.values['theme-article-count'][0] }}<p>
            <p><i>Presence of verified authors:</i> {{ post.values['theme-has-verified-authors'][0] }}<p>

          <div ng-show="visibleTab == 'threads'">
            <h2 class="form-label">Threads</h2>
            <div ng-repeat="thread in theme.threads">
              <div ng-if="thread.featured_tweet">
              <b>Featured tweet</b>
              <p><img ng-src="{{ thread.featured_tweet.user.profile_image_url }}" target="_blank" width="64" height="64">
                 <a ng-href="https://twitter.com/{{ thread.featured_tweet.user.user_screen_name }}">
                   <i>@{{ thread.featured_tweet.user.user_screen_name }}</i>
                  </a>
                  {{ thread.featured_tweet.user.user_description }}</p>
              <p ng-bind="thread.featured_tweet.text" linkify="twitter"></p>
              <p><i>{{ thread.featured_tweet.date}}</i></p>
              </div>
            </div>
          </div>

          <div ng-show="visibleTab == 'pubs'">
            <h2 class="form-label">Linked publications</h2>
            <div ng-repeat="article in theme.articles">
              <a ng-href="{{ article.url }}">(link)</a> <span ng-bind="article.text" linkify="twitter"></span>
            </div>
          </div>

          <div ng-show="visibleTab == 'images'">
            <h2 class="form-label">Images</h2>
            <div ng-repeat="img in theme.images">
              <img ng-src="{{ img.imgUrl }}" width="100" height="100"> <span ng-bind="img.text" linkify="twitter"></span>
            </div>
          </div>

          <div ng-show="visibleTab == 'places'">
            <h2 class="form-label">Places</h2>
            <!-- maps
            <div
              ng-if="mapDataLoaded"
              ng-show="visibleStage == stages[0].id || visibleStage == 'post'"
              class="postcard-field"
              >
              <h2 ng-if="mapDataLoaded" class="form-label" translate>post.location</h2>
              <div ng-if="mapDataLoaded">
                <leaflet id="post-map" class="map" defaults="defaults" geojson="geojson" center="center" layers="layers"></leaflet>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>

    </article>

    <post-messages post="post" ng-if="post.contact.id"></post-messages>
  </div>
</main>
