<div class="mode-context init" dropdown>

</div>

<main role="main">
  <div class="main-col">
    <article class="postcard" role="article">
      <div class="postcard-body">
        <h1 class="postcard-title">
          {{post.title}}
        </h1>

        <nav class="tabs-menu" data-tabs="tasks-tabs" data-tabs-hash>
          <ul>
            <li ng-class="{'active': visibleTab == 'threads'}">
              <a ng-click="setVisibleTab('threads')">Threads</a>
            </li>
            <li ng-class="{'active': visibleTab == 'pubs'}">
              <a ng-click="setVisibleTab('pubs')">Publications</a>
            </li>
            <li ng-class="{'active': visibleTab == 'images'}">
              <a ng-click="setVisibleTab('images')">Images</a>
            </li>
            <li ng-class="{'active': visibleTab == 'places'}">
              <a ng-click="setVisibleTab('places')">Places</a>
            </li>
          </ul>
        </nav>
        <div class="tasks-tabs">
          <!-- tags (categories) -->
          <div
            ng-if="!!post.tags.length"
            class="postcard-field listing-summary"
            >
            <h2 class="form-label" translate>Event</h2>
            <p ng-repeat="category in post.tags">
              {{category.tag}}
            </p>
          </div>
          <!-- values -->

          <div class="postcard-field listing-summary"> 
              <h2 class="form-label">Overview</h2>
              <p>Number of images: {{ post.values['theme-img-count'][0] }}</p> 
              <p>Number of publications: {{ post.values['theme-pub-count'][0] }}</p>  
              <p>Verified authors: {{ post.values['theme-verified-count'][0] > 0 ? "Yes" : "No" }}</p> 
              <p>Controversiality score: {{ post.values['theme-controversiality'][0] }} </p>
          </div>

          <div class="postcard-field listing-summary"> 
            <h2 class="form-label">Activity</h2> 
            <p>Started: {{ post.values['theme-start-date'][0] | date:'yyyy-MM-dd HH:mm' }}</p>  
            <p>Last activity: {{ post.values['theme-last-activity'][0] | date:'yyyy-MM-dd HH:mm' }}</p>
          </div>

          <div class="postcard-field listing-summary"> 
            <h2 class="form-label">Tweets</h2> 
            <p>Size: {{ post.values['theme-size'][0] }} tweets</i></p> 
            <p>Speed: {{ post.values['theme-average-activity'][0] }} tweets/min</i></p>
          </div>

 
          <div class="listings" ng-show="visibleTab == 'threads'">
            <div class="listing-item">
              <h2 class="form-label">Threads</h2>
              <div class="listing-item-primary tweet" ng-repeat="thread in theme.threads">
                <div class="listing-item-image">
                  <img class="avatar" ng-src="{{ thread.featured_tweet.user.profile_image_url }}" alt="">
                </div>
                <h2 class="listing-item-title"><a ng-href="https://twitter.com/{{ post.featured_tweet.user.user_screen_name }}">@{{ thread.featured_tweet.user.user_screen_name }}</a></h2> 
                <p class="listing-item-secondary" ng-bind="thread.featured_tweet.user.user_description"></p>
                <p class="listing-item-secondary">{{ thread.featured_tweet.date | date:'yyyy-MM-dd HH:mm' }}</p> 

                <p ng-bind="thread.featured_tweet.text" linkify="twitter"></p>
              </div>
            </div>
          </div>


          <div class="listings" ng-show="visibleTab == 'pubs'">
            <div class="postcard-field">
              <h2 class="form-label">Linked Publications</h2>
            </div>
            <div class="postcard-list">
              <div class="postcard-field" ng-repeat="article in theme.articles">
                <p><a ng-href="{{ article.url }}">(link)</a> <span ng-bind="article.text" linkify="twitter"></span><span>[article title]</p>
              </div>
            </div>
          </div>

          <div ng-show="visibleTab == 'images'">
            <div class="postcard-field"> 
              <h2 class="form-label">Images</h2>
            </div>
            <div class="gallery">
              <div class="gallery-thumb" ng-repeat="img in theme.images">
                <figure>
                  <img class="avatar" ng-src="{{ img.imgUrl }}" alt=""> 
                  <span class="image-count">{{ img.count }}</span>
                </figure>
              </div>
            </div>
          </div>

          <div ng-show="visibleTab == 'places'">
            <div class="postcard-field">
              <h2 class="form-label">Places</h2>
            </div>
            <!-- maps
            <div
              ng-if="mapDataLoaded"
              ng-show="visibleStage == stages[0].id || visibleStage == 'post'"
              class="postcard-field"
              >
              <h2 ng-if="mapDataLoaded" class="form-label" translate>post.location</h2>
              <div ng-if="mapDataLoaded">
                <leaflet id="post-map" class="map" defaults="defaults" geojson="geojson" center="center" layers="layers"></leaflet>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>

    </article>

    <post-messages post="post" ng-if="post.contact.id"></post-messages>
  </div>
</main>
