<div class="main-col phemes">

    <div class="toolbox">
        <div class="tool">
            <h6 class="tool-heading">Sort By</h6>

            <div class="form-field">
              <div class="custom-select">
                 <select
                    ng-model="vOrderbySelected"
                    ng-init="vOrderbySelected = vOrderbyOptions[2]"
                    ng-options="option as (option.label | translate) for option in vOrderbyOptions"
                    ng-change="vOrderbyChanged(vOrderbySelected)">
                 </select>
              </div>
            </div>

            <div class="buttons-updown">
               <button type="button" class="button-beta" ng-click="setOrder('asc')">
                   <svg class="iconic">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                   </svg>
                   <span class="label hidden" translate>pheme.sort.ascending</span>
               </button>
               <button type="button" class="button-beta" ng-click="setOrder('desc')">
                   <svg class="iconic">
                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                   </svg>
                   <span class="label hidden" translate>pheme.sort.descending</span>
               </button>
            </div>
        </div>
    </div>

    <div class="listing timeline" ng-class="{ 'toolbar-active' : selectedPosts.length > 0 }">

        <div ng-hide="isLoading">
          <div class="alert confirmation">
              <p>Showing page <b>{{ currentPage }}</b> of a total of <b>{{ totalItems }}</b> phemes</p>
          </div>
          <post-card ng-repeat-end
              ng-repeat="post in posts"
              can-select="false"
              post="post"
              selected-posts="selectedPosts"
          >
          </post-card>
          <div class="list-item" ng-if="posts.length == 0 && hasFilters()">
              <h4 translate>post.no_search_results</h5>
          </div>

          <!-- todo: check style -->
          <div class="list-item" ng-if="posts.length == 0 && !hasFilters()">
              <h4 translate>post.no_posts_yet</h5>
          </div>

          <div class="alert confirmation">
              <p>Showing page <b>{{ currentPage }}</b> of a total of <b>{{ totalItems }}</b> phemes</p>
          </div>
        </div>

        <div class="loading" ng-show="isLoading">
            <!-- loading the document -->
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            <!-- end loading the document -->
        </div>

        <!--
        <listing-toolbar
            entities="posts"
            selected-set="selectedPosts"
            >
                <button type="button" class="button-destructive" ng-click="deletePosts()">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                    </svg>
                    <span class="button-label hidden">nav.delete</span>
                </button>
                <collection-toggle-button selected-posts="selectedPosts" posts="posts"></collection-toggle-button>
        </listing-toolbar>
        -->

        

    </div> <!-- /.listing.timeline -->

    <uib-pagination ng-model="currentPage" total-items="totalItems" ng-change="pageChanged()" max-size="5" rotate="false"></pagination>

</div>
