<div>
    <layout-class layout="b"></layout-class>
    <div class="mode-context init" dropdown>
        <header class="mode-context-header">
            <h1 class="mode-context-title" translate>pheme.topic.topics</h1>
        </header>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>
    <main role="main">
    	<!-- toolbar -->
        <div class="toolbar">
            <div class="fab">
                <!--
                <a ng-href="/pheme/events/create" type="button" class="button button-alpha button-fab">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="hidden" translate>pheme.add_events</span>
                </a>
                -->
            </div>
        </div>
        <!-- end toolbar -->
        <div class="main-col">

            <div id="keyword-search" class="input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Explore Social Media" ng-model="searchKeywords" ng-keyup="$event.keyCode == 13 && keywordSearch()" ng-change="keywordChange()">
            </div>

            <div ng-show="showResults == 'live' && liveResults.status == 'loading'">
                <div class="progress-bar"><span>Searching ...</span></div>
            </div>

            <div id="keyword-search-results" class="listing card" ng-show="showResults == 'live' && liveResults.status == 'loaded'">
                <div class="listing-item" ng-repeat="result in liveResults.results | startFrom:liveResults.pag.current*liveResults.pag.size | limitTo:liveResults.pag.size">
                    <div class="listing-item-primary">
                        <p class="listing-item-secondary">{{result.text}}</p>
                    </div>
                </div>
                <uib-pagination ng-model="liveResults.pag.current" items-per-page="liveResults.pag.size" total-items="liveResults.results.length" max-size="10" boundary-links="false" rotate="false"></uib-pagination><!-- ng-change="pageChanged()" -->
            </div>

            <div id="event-listing" class="listing card" ng-class="{'toolbar-active': selectedEvents.length}" ng-show="showResults == 'events'">
                <div class="alert" ng-hide="events.length">
                    <p ng-hide="events.length"><em translate>pheme.topic.empty</em></p>
                </div>

                <div id="pheme-{{event.id}}" class="listing-item" ng-repeat="event in events | orderBy:'category_id'" ng-class="{ 'warning': isToggled(event) }" ng-click="toggleEvent(event)">

                    <div class="listing-item-select">
                        <input type="checkbox" value="{{event.id}}" ng-checked="isToggled(event)">
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><!--<a ng-href="/settings/categories/{{category.id}}">-->{{event.name}}<!--</a>--></h2>
                        <p class="listing-item-secondary">{{event.description}}</p>
                    </div>

                </div>

                <listing-toolbar entities="events" selected-set="selectedEvents">
                    <button type="button" class="button-destructive" ng-disabled="!selectedEvents.length" ng-click="alert('Does nothing')">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">nav.delete</span>
                    </button>
                </listing-toolbar>
           </div>
           <div>
           <button ng-click="navigateCreate()" class="button button-alpha">pheme.topic.add</button>
           </div>
     	</div>
    </main>
</div>