<div>
    <layout-class layout="b"></layout-class>
    <div class="mode-context init" dropdown>
        <header class="mode-context-header">
            <h1 class="mode-context-title" translate>pheme.topic.topics</h1>
        </header>

        <div class="mode-context-body">
            <p ng-bind="nav.site.description"></p>

            <mode-context-category-filter></mode-context-category-filter>
        </div>

        <span class="mode-context-trigger" dropdown-toggle>
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden" translate>app.show_more_less</span>
        </span>
    </div>
    <main role="main" class="topics">
        <div class="main-col">

            <!-- Keyword search box -->
            <div id="keyword-search" class="input-with-icon">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                </svg>
                <input type="search" placeholder="Explore Social Media" ng-model="searchKeywords" ng-keyup="$event.keyCode == 13 && keywordSearch()" ng-change="keywordChange()">
            </div>

            <!-- Keyword search results -->
            <div ng-show="showResults == 'live' && liveResults.status == 'loading'">
                <h2 class="progress-bar"><span>Searching ...</span></h2>
            </div>

            <div id="keyword-search-results" class="listing card" ng-show="showResults == 'live' && liveResults.status == 'loaded'">
                <div class="listing-item">

                    <div class="listing-item-primary tweet" ng-repeat="result in liveResults.results | startFrom:liveResults.pag.current*liveResults.pag.size | limitTo:liveResults.pag.size">

                        <div class="listing-item-image">
                            <img class="avatar" ng-src="https://twitter.com/{{ result.userScreenName }}/profile_image?size=normal" alt="">
                        </div>

                        <h2 class="listing-item-title">
                            <a ng-href="https://twitter.com/{{ result.userScreenName }}">
                                <span class="tweet-name">{{ result.userName }}</span>
                                <span class="tweet-username">@{{ result.userScreenName }}</span>
                            </a>
                            <span style="font-size: -25%" ng-if="thread.featured_tweet.user.is_verified">&nbsp;(verified user)<span>
                        </h2>

                        <!-- <p class="listing-item-secondary" ng-bind="result.userDescription"></p> -->

                        <!-- <p class="listing-item-secondary">{{ result.createdAt | date:'yyyy-MM-dd HH:mm' }}&nbsp;&nbsp;<a ng-href="https://twitter.com/{{ result.userScreenName }}/status/{{ result.tweetID }}" target="_blank">open in twitter</a></p> -->

                        <p class="tweet-result" ng-bind="result.text" linkify="twitter"><p>

                        <p class="tweet-date">{{ result.createdAt | date:'h:mm a - d MMM y'}}
                            <a class="tweet-open" ng-href="https://twitter.com/{{ result.userScreenName }}/status/{{ result.tweetID }}" target="_blank">open in twitter</a>
                        </p>

                    </div>

                    <uib-pagination ng-model="liveResults.pag.current" items-per-page="liveResults.pag.size" total-items="liveResults.results.length" max-size="5" boundary-links="false" rotate="false"></uib-pagination>

                </div>
            </div>

            <!-- List of topics -->
            <h2 ng-show="showResults == 'events'">Last active topics ...</h2>
            <div id="event-listing" class="listing card" ng-class="{'toolbar-active': selectedEvents.length}" ng-show="showResults == 'events'">
                <div class="alert" ng-hide="events.length">
                    <p ng-hide="events.length"><em translate>pheme.topic.empty</em></p>
                </div>

                <div id="pheme-{{event.id}}" class="listing-item" ng-repeat="event in events | orderBy:'category_id'" ng-class="{ 'warning': isToggled(event) }" ng-click="toggleEvent(event)">

                    <div class="listing-item-select">
                        <input type="checkbox" value="{{event.id}}" ng-checked="isToggled(event)">
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><!--<a ng-href="/settings/categories/{{category.id}}">-->{{event.name}}<!--</a>--></h2>
                        <p class="listing-item-secondary topic-description">{{event.description}}</p>
                        <p class="listing-item-secondary">Last activity: {{ event.updated > 0 ? (event.updated | date:'yyyy-MM-dd HH:mm') : "never" }}</p>
                        <p class="listing-item-secondary">Capturing until: {{ event['capture-end-date'] }}</p>
                    </div>

                </div>

                <listing-toolbar entities="events" selected-set="selectedEvents">
                    <button type="button" class="button-destructive" ng-disabled="!selectedEvents.length" ng-click="alert('Does nothing')">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">nav.delete</span>
                    </button>
                </listing-toolbar>
           </div>
           <div>
           <button ng-click="navigateCreate()" class="button button-alpha" translate>pheme.topic.add</button>
           </div>
     	</div>
    </main>
</div>
